{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Bienvenu sur notre blog</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Beatae, distinctio. Reiciendis asperiores debitis harum 
            nobis eius, consequatur unde ut accusamus, doloremque 
            animi quam quidem magni, ab veniam molestiae autem 
            reprehenderit error iure accusantium inventore vitae 
            porro! Quae molestias inventore cumque.</p>
        <p>Delectus quia non obcaecati harum autem consequuntur 
            odio! Animi, delectus fuga. Nesciunt, aliquam! 
            Possimus ab corrupti, neque facilis doloremque 
            repellat aliquid. Rem accusantium repellendus, error 
            earum optio praesentium libero cum dignissimos debitis 
            id nemo perferendis ipsum distinctio magnam, numquam 
            aliquam!</p>
    </div>


{% endblock %}